# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# Testing
/coverage/

# Legacy CRA output
/build/

# Environment variables
.env*
!.env.example

# Local files
.DS_Store
Thumbs.db
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
