.container{
    max-width: 1400px;
    position:fixed;
    display: flex;
    height: 70px;
    width: 100%;
    padding-top: 4px;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.container .navbar-left{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
    margin-left: 20px;
}
.container .navbar-left h2{
    margin-left: 20px;
    font-size: 1.8rem;
}
.container .navbar-left img{
    width: 230px;
}
.container .navbar-rigth{
    display: flex;
    gap: 12px;
    margin-right: 20px;
}
.container .navbar-rigth a{
    text-decoration: none;
    color: rgb(2, 2, 96);
    font-weight: bold;
    transition: all 0.7s;
}
.container .navbar-rigth a:hover{
color: rgb(23, 94, 86);
background-color: rgba(161, 118, 208, 0.622);
border-radius: 6px;
}

.container .menu-mobile-bars{
    display: none;    
}
@media(max-width:650px) {
    .container{
        width: 100%;        
    }
    .container .navbar-left{
        width: 100%;
        justify-content: space-around;
    }
    .container .navbar-rigth{
        display: none;
    }
    .container .menu-mobile-bars{
        display: block;
        width: 50px;
        font-size: 2rem;
    }
}