.container{
    max-width: 1400px;
    position:fixed;
    display: flex;
    height: 70px;
    width: 100%;
    padding-top: 4px;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.container .navbar-left{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
    margin-left: 20px;
}
.container .navbar-left h2{
    margin-left: 20px;
    font-size: 1.8rem;
}
.container .navbar-left img{
    width: 230px;
}
.container .navbar-rigth{
    display: flex;
    gap: 12px;
    margin-right: 20px;
}
.container .navbar-rigth a{
    text-decoration: none;
    color: rgb(2, 2, 96);
    font-weight: bold;
    transition: all 0.7s;
}
.container .navbar-rigth a:hover{
color: rgb(23, 94, 86);
background-color: rgba(161, 118, 208, 0.622);
border-radius: 6px;
}

.container .menu-mobile-bars{
    width: 50px;
    font-size: 2.9rem;
}
.container .menu-cantactame-desktop{
    width: 60px;
    height: 100px;
    padding: 8px 0;
    background: rgba(81, 80, 169, 0.301);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 400px;
    left: -50px;
    
}
.container .menu-cantactame-desktop a{
    color: rgb(2, 2, 96);
    font-size: 2.6rem;
    text-decoration: none;
    transition: all 1s;
}
.container .menu-cantactame-desktop a:hover{
    color: rgb(23, 94, 86);
}

/* Menu mobile*/
/* .menu-mobile-container{
    position: fixed;
    z-index: 2;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background: rgb(246, 243, 243);
}
.menu-mobile-container h2{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 2.4rem;
    margin-bottom: 30px;
}
.menu-mobile-container #menu-mobile-close{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
} 
.menu-mobile-container .logo img{
    margin: 20px;
    width: 200px;
}
.menu-mobile-container h3{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.menu-mobile-container ul{
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
}
.menu-mobile-container li{
    margin-bottom: 30px;
}
.menu-mobile-container a{
    text-decoration: none;
    color: rgb(10, 96, 96);    
    font-size: 1.8rem;
}
.menu-mobile-container .menu-cantactame{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}
.menu-mobile-container .menu-cantactame a{
    margin: 10px 20px;
    font-size: 4rem;
} */