#mis-proyectos{
    color: rgb(2, 2, 96);
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mis-proyectos h2{
    margin: 30px;
    font-size: 3rem;
    animation: animacion-text 2s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes animacion-text{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
#mis-proyectos .proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 8rem;
    width: 100%;
}
